{% extends "base.html" %}

{% block content %}
<div id="content">
	<div class="post">
		<div class="post-title">
			new post
		</div>
		<br>
		
		<form method="post">
			<label>
				<div class="post-content">
					subject 
				</div>
				<input type="text" name="subject" value={{subject}}></input>
			</label>
			<label>
				<div class="post-content">
					blog
				</div>
				<textarea name=content>{{blogtext}}</textarea>
			</label>

			<div class="error">{{error}}</div>

			<input type="submit"></input>
		</form>
	</div>
	<br><br>
</div>

{% endblock %}

